parameters:
    level: 9
    inferPrivatePropertyTypeFromConstructor:
        true
    paths:
        - domain/
        - tests/cases/
        - tests/helpers/
        #- serialization/handler
#    doctrine:
##        objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
#        repositoryClass: \Sports\Repository